@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400&display=swap&#39;');
*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', sans-serif;
}

@media (min-width: 300px) {

  header {
    display: flex;
    flex-direction: column;
    height: 50vh;
    background-color: cornflowerblue;
    color: whitesmoke;
    padding: 5%;
  }

  header article {
    text-align: center;
  }
  header > article:nth-child(1) {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }

  header > article:nth-child(2) {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: end;
    height: 80%;
    
  }

  details  > ul{
    width: 80%;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
  }

  details li {
    list-style-type: none;
    width: 100%;
    display: flex;

  }

  details a {
    text-decoration: none;
    color: black;
    width: 100%;
    background-color: whitesmoke;
    padding: 3% 0% 3%;

  }

  summary {
    font-size: 30px;
  }

  nav > ul {
    display: none;
  }

  .features {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15% 0% 15% 0%;
  }
  .features > h2 {
    width: fit-content;
    padding-bottom: 5%;
    border-bottom: 1px solid cornflowerblue;
  }
  .features > article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3%;
  }
  
  .features div {
    padding: 3%;
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }
  
  .features p {
    font-size: 14px;
  }
  
  .features i {
    color: cornflowerblue;
    font-size: 25px;
  }
  
  .computer {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    background-color: whitesmoke;
    padding-top: 15%;
    padding-bottom: 15%;
  }
  .computer > article {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 2%;
  }
  
  .computer img {
    width: 100%;
  }
  
  .computer div {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
  }
  
  .computer i {
    color: whitesmoke;
    background-color: cornflowerblue;
    font-size: 16px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .computer aside {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 80%;
  }
  
  .computer p {
    font-size: 14px;
  }
  

  .services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .services h2 {
    width: 100%;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .services h3 {
    font-size: 16px;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .services p {
    font-size: 14px;
  }
  .services > article {
    width: 40%;
    text-align: center;
    padding: 2%;
  }

  .services i {
    font-size: 36px;
  }

  .services > article:nth-child(even) {
    background-color: gainsboro;
  }

  .call-action {
    text-align: center;
    background-image: url(../img/dashboard-img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10%;
  }

  .call-action p {
    padding-top: 10%;
  }

  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20% 5%;
    
  }
  .about h2 {
    border-bottom: 1px solid cornflowerblue;
    padding-bottom: 5%;
  }

  .about div {
    padding-top: 5%;
  }

  .about div > figure {
    padding: 5% 0;
  }
  .about p {
    padding-top: 5%;
  }

  .testimonials {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    justify-content: space-between;
    background-color: cornflowerblue;
    padding: 5%;
    color: whitesmoke;
    min-height: 20vh;
  }

  .testimonials h2 {
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 5%;
  }
  .testimonials > p{
    text-align: center;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 30vh;
    justify-content: center;
  }

  footer > div, footer > span {
    width: 65%;
    display: flex;
    justify-content: space-between;
  }

  /* ^= start with 
  *= contains
  $ end with */

  footer [class^="fa-"] {
    text-decoration: none;
    color: gray;
    font-size: 20px;
  }

  footer a {
    text-decoration: none;
    color: cornflowerblue;
  }

}

@media (min-width: 600px) {

  header {
    font-size: 26px;
  }

  header h1 {
    font-size: 50px;
  }

  header > ul {
    width: 30%;
  }

  .features article{
    width: 80%;
    justify-content: space-evenly;
  }

  .computer article {
    align-items: center;
  }

  .computer div {
    justify-content: unset;
    justify-content: center;
    width: 80%;
  }

  .services {
    padding-top: 5%;
  }


  .services > h2 {
    font-size: 36px;
    padding-top: 1%;
    padding-bottom: 3%;
  }
  .services i {
    font-size: 46px;
  }

  .services p {
    font-size: 20px;
  }

  .services h3 {
    font-size: 26px;
  }

  .call-action > h2 {
    font-size: 36px;
  }
  .call-action > p {
    font-size: 24px;
  }

  .about {
    padding: 5% 0% 5%;
  }
  .about > h2 {
    padding-bottom: 2%;
    font-size: 36px;
  }

  .about img {
    width: 60%;
  }

  .about figcaption {
    font-size: 32px;
  }

  .about p {
    font-size: 24px;
  }

  .about div {
    padding-top: 2%;
  }

  .about div > figure {
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .testimonials {
    min-height: 15vh;
  }

  .testimonials > p {
    font-size: 20px;
    padding-top: 2%;
  }


  .testimonials h2 {
    font-size: 36px;
    padding-bottom: 2%;
  }

  footer {
    min-height: 20vh;
  }
  footer > div, footer > span {
    justify-content: unset;
    width: 100%;
    justify-content: center;
    column-gap: 15px;
  } 

  
}

@media (min-width: 1000px) {

  .about {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .about h2 {
    width: 100%;
    padding-bottom: 2%;
  }
  .about div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    padding-top: 5%;
  }
  .about figure {
    width: 30%;

    padding: 0;
  }

  .testimonials {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  .testimonials h2 {
    font-size: 50px;
  }
  .testimonials > p {
    font-size: 30px;
  }

  footer [class^="fa-"] {
    font-size: 24px;
  }
}
